@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/form/shared';
@import '~bulma/sass/form/checkbox-radio';
@import '~bulma/sass/form/input-textarea';
@import '~bulma/sass/form/tools';
@import '~bulma/sass/layout/footer';

.stress-test {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 1200px) {
    width: 1170px;
  }

  header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  h1.title.is-1 {
    color: #369;
    font-family: Arial,Helvetica,sans-serif;

    @include mobile() {
      font-size: 2.25rem;
    }
  }

  p {
    margin-bottom: 4px;
  }

  .collapsable-toggle {
    cursor: pointer;
  }

  .remove-property {
    background: #F44336;
    border: 0;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 36px;
    letter-spacing: .5px;
    line-height: 36px;
    margin-top: 8px;
    padding: 0 16px;

    &:hover {
      background: darken(#F44336, 10%);
    }
  }

  .collapsable {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    padding: 8px 16px 20px;
    margin-bottom: 12px;

    .collapsable-key-info {
      background-color: rgb(245, 245, 245);
      border-radius: 4px;
      margin-bottom: 8px;
      padding: 8px;

      div:not(:last-child) {
        margin-bottom: 4px;
      }

      .collapsable-key-info-label {
        font-weight: bold;
      }
    }
  }
}

form {
  input:required {
    &:valid {
      border-left: 5px solid $success;
    }

    &:not(:valid) {
      border-left: 5px solid $danger;
    }
  }
}

footer {
  margin-top: 12px;
}
