$footerHeight: 88px;

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  padding-bottom: $footerHeight;
}

.stress-test {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 1200px) {
    width: 1170px;
  }

  header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
  }

  h1 {
    color: #369;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 2.5em;
  }

  h2 {
    display: inline-block;
    margin-top: 0;
  }

  .collapsable-toggle {
    cursor: pointer;
  }

  .remove-property {
    background: #F44336;
    border: 0;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 36px;
    letter-spacing: .5px;
    line-height: 36px;
    padding: 0 16px;

    &:hover {
      background: darken(#F44336, 10%);
    }
  }

  .collapsable {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    padding: 24px 16px;
    margin-bottom: 12px;

    .collapsable-key-info {
      background-color: rgb(245, 245, 245);
      border-radius: 4px;
      padding: 8px;

      div:not(:last-child) {
        margin-bottom: 4px;
      }

      .collapsable-key-info-label {
        font-weight: bold;
      }
    }
  }
}

form {
  margin: 10px 0;
  .field {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;

    input:not([type=checkbox]) {
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-sizing: border-box;
      color: #555;
      font-size: 14px;
      height: 34px;
      line-height: 1.42857;
      padding: 6px 12px;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      width: 100%;

      ::placeholder {
        color: #999;
        opacity: 1
      }
    }

    input:required {
      &:valid {
        border-left: 5px solid #42a948;
      }

      &:not(:valid) {
        border-left: 5px solid #a94442;
      }
    }

    input[type="submit"] {
      cursor:pointer;
    }
  }

  .income-label {
    display: inline-block;
    margin-bottom: 15px;
  }

  @media (min-width: 992px) {
    .field {
      padding: 0 30px 0 0;
      width: calc(100% / 6);
    }

    .row {
      margin-top: 10px;
    }
  }
}

footer {
  background-color: #f2f2f2;
  bottom: 0;
  height: $footerHeight;
  text-align: center;
  padding-top: 4px;
  position: absolute;
  width: 100%;
}
